Repository scttfrdmn/objectfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

Path conditions:
  go-build-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  go-mod-verify: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  golangci-lint-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  integration-ready-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  security-deps-check: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  license-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$


fix: Skip S3 integration tests in short mode
  tests/integration_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

style: Apply go fmt formatting fixes (#47)
  .github/workflows/ci.yml
  internal/buffer/writebuffer.go
  internal/cache/multilevel.go
  internal/cache/predictive.go
  internal/config/config_test.go
  internal/config/doc.go
  internal/filesystem/interface.go
  internal/fuse/cgofuse_filesystem.go
  internal/fuse/cgofuse_mount.go
  internal/fuse/doc.go
  internal/fuse/mount.go
  internal/fuse/platform_cgofuse.go
  internal/health/checker.go
  internal/health/monitor.go
  internal/metrics/collector.go
  internal/storage/s3/cost_optimizer.go
  internal/storage/s3/cost_optimizer_test.go
  internal/storage/s3/doc.go
  internal/storage/s3/pool.go
  internal/storage/s3/pricing_manager_test.go
  pkg/optimization/interfaces.go
  pkg/types/interfaces_test.go
  pkg/utils/logging_test.go
  tests/aws_s3_test.go
  tests/distributed_test.go
  tests/e2e_test.go
  tests/fuse_test.go
  tests/integration_test.go
  tests/multilevel_predictive_test.go
  tests/posix_test.go
  tests/predictive_cache_test.go
  tests/unit_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

refactor: Remove LocalStack from CI workflow
  .github/workflows/ci.yml
Due: none

ci: Add LocalStack integration, advanced caching, and Dependabot auto-merge (#46)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  tests/integration_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: Add comprehensive development framework and CI/CD workflows
  .github/workflows/feature-ci.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-develop.yml
  DEVELOPMENT.md
  ROADMAP.md
  docs/README.md
Due: none

refactor: Simplify CI/CD for solodev workflow
  .github/workflows/ci.yml
  .github/workflows/feature-ci.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-develop.yml
  DEVELOPMENT.md
Due: none

docs: Add comprehensive architecture overview documentation
  docs/architecture/overview.md
Due: none

feat: Add local AWS test setup and cleanup scripts
  scripts/cleanup-aws-test.sh
  scripts/setup-aws-test.sh
Due: none

docs: Add comprehensive AWS-C-S3 integration research document
  docs/design/aws-c-s3-research.md
Due: none

feat: Add retry logic with exponential backoff for S3 operations
  internal/storage/s3/backend.go
  internal/storage/s3/config.go
  pkg/retry/retry.go
  pkg/retry/retry_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: Add actionable error diagnostics and enhanced S3 error translation
  internal/storage/s3/backend.go
  pkg/errors/errors.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: Implement graceful degradation with health tracking for S3 operations
  internal/storage/s3/backend.go
  pkg/errors/errors.go
  pkg/health/health.go
  pkg/health/health_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: Add user-facing status indicators and progress tracking
  pkg/status/status.go
  pkg/status/status_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: Integrate status tracking into mount operations
  internal/fuse/mount.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: Add comprehensive HTTP API for health and status monitoring
  pkg/api/server.go
  pkg/api/server_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: Add memory profiling and fix critical goroutine leaks
  internal/cache/lru.go
  internal/cache/persistent.go
  pkg/profiling/memory.go
  pkg/profiling/memory_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Add mutex synchronization to health package tests to resolve data races
  pkg/health/health_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: Add comprehensive race condition audit report
  RACE_CONDITION_AUDIT.md
Due: none

feat: Add S3 Transfer Acceleration support with automatic fallback
  internal/storage/s3/acceleration_test.go
  internal/storage/s3/backend.go
  internal/storage/s3/client.go
  internal/storage/s3/metrics.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: Add comprehensive multipart upload optimization
  docs/features/multipart-uploads.md
  internal/storage/s3/client.go
  internal/storage/s3/config.go
  internal/storage/s3/metrics.go
  internal/storage/s3/multipart_state.go
  internal/storage/s3/multipart_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: Add comprehensive read-ahead configuration and documentation
  docs/features/read-ahead.md
  examples/config/readahead-low-bandwidth.yaml
  examples/config/readahead-ml.yaml
  examples/config/readahead-predictive.yaml
  examples/config/readahead-simple.yaml
  examples/config/readahead-streaming.yaml
  internal/config/config.go
  internal/config/readahead_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

chore: Update CargoShip dependency to v0.4.4
  go.mod
  go.sum
Due: go-mod-verify, security-deps-check

feat: Complete v0.4.0 P2 tasks (detailed metrics, health improvements, enhanced logging)
  docs/enhanced-logging.md
  docs/performance-metrics.md
  internal/health/enhanced_monitor.go
  internal/health/remediation.go
  internal/health/remediation_test.go
  internal/metrics/detailed.go
  internal/metrics/detailed_test.go
  pkg/utils/debug_mode.go
  pkg/utils/debug_mode_test.go
  pkg/utils/log_rotation.go
  pkg/utils/log_rotation_test.go
  pkg/utils/logging.go
  pkg/utils/structured_logger.go
  pkg/utils/structured_logger_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

chore: Update cargoship to v0.4.5
  go.mod
  go.sum
Due: go-mod-verify, security-deps-check

feat: Implement P0 Enhanced Error Handling and Recovery
  docs/error-handling-recovery.md
  pkg/recovery/connection.go
  pkg/recovery/connection_test.go
  pkg/recovery/recovery.go
  pkg/recovery/recovery_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: Implement P0 Memory Leak Detection and Fixes
  docs/memory-monitoring.md
  internal/cache/lru.go
  pkg/memmon/monitor.go
  pkg/memmon/monitor_test.go
  pkg/memmon/profiler.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Resolve race conditions in memory monitor
  pkg/memmon/monitor.go
  pkg/memmon/monitor_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: Add comprehensive concurrency and race-free patterns guide
  docs/concurrency-patterns.md
Due: none

feat: Integrate S3 Transfer Acceleration with automatic fallback
  internal/storage/s3/backend.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: Add comprehensive S3 Transfer Acceleration benchmarking suite
  internal/storage/s3/acceleration_bench_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: Add comprehensive S3 Transfer Acceleration guide
  docs/s3-acceleration.md
Due: none

feat: Implement S3 multipart upload with intelligent chunking and parallel uploads
  internal/storage/s3/backend.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: Add comprehensive v0.4.0 P0/P1 completion summary
  docs/v0.4.0-COMPLETION-SUMMARY.md
Due: none

feat: Add comprehensive multipart upload benchmarks
  internal/storage/s3/acceleration_bench_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Resolve all errcheck issues for Go Report Card A+ grade
  internal/storage/s3/acceleration_bench_test.go
  pkg/utils/log_rotation_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

style: Apply go fmt formatting fixes
  test/benchmarks/cache_test.go
  tests/integration/localstack_test.go
  tests/integration/mocks.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

refactor: Reduce cyclomatic complexity in error and config handling
  internal/config/config.go
  pkg/errors/errors.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Resolve e2e test issues for clean test run
  tests/e2e_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Add required ReadAhead config fields in unit test
  tests/unit_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Add missing AutoFix functions for automated remediation actions
  internal/adapter/adapter_test.go
  internal/health/remediation.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check
