Repository scttfrdmn/objectfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

go-build-check:
  name: Go Build Check
  entry: sh -c 'go build ./...'
  language: system
  pass_filenames: false

go-mod-verify:
  name: Go Mod Verify
  entry: sh -c 'go mod verify'
  language: system
  pass_filenames: false

golangci-lint-check:
  name: Go Quality Checks
  entry: sh -c 'golangci-lint run --enable=errcheck,staticcheck,govet,ineffassign,unused,bodyclose,unconvert,whitespace --timeout=5m'
  language: system
  pass_filenames: false

integration-ready-check:
  name: Integration Test Readiness
  entry: sh -c 'if [ -n "${AWS_ENDPOINT_URL:-}" ]; then echo "🔧 LocalStack detected, running integration tests..."; go test -tags=integration -v ./tests/...; else echo "ℹ️  Integration tests skipped (no LocalStack)"; fi'
  language: system
  pass_filenames: false

security-deps-check:
  name: Security Dependencies Check
  entry: 'sh -c ''echo "🔒 Checking dependencies..." && go list -m all | wc -l | xargs -I {} echo "Dependencies checked: {}"''
  
    '
  language: system
  pass_filenames: false

license-check:
  name: License Check
  entry: 'sh -c ''find . -name "*.go" -not -path "./vendor/*" | xargs grep -L "Licensed under the Apache License" | head -10 | while read file; do echo "Missing license header: $file"; done; exit 0''
  
    '
  language: system
  pass_filenames: false

fix(metrics): serve the endpoint, and make both SDKs able to read it
  .coverage-floors
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  internal/adapter/adapter.go
  internal/adapter/metrics_wiring_test.go
  internal/cache/predictive_shutdown_test.go
  internal/fuse/filesystem.go
  internal/metrics/collector.go
  internal/metrics/doc.go
  internal/metrics/fixture_test.go
  internal/metrics/wiring_test.go
  internal/testhttp/testhttp.go
  pkg/api/server_test.go
  sdks/javascript/README.md
  sdks/javascript/src/client.ts
  sdks/javascript/src/index.ts
  sdks/javascript/src/monitoring.ts
  sdks/javascript/src/prometheus.test.ts
  sdks/javascript/src/prometheus.ts
  sdks/javascript/src/types.ts
  sdks/python/README.md
  sdks/python/objectfs/client.py
  sdks/python/objectfs/monitoring.py
  sdks/python/tests/test_monitoring.py
  sdks/testdata/metrics-scrape.txt
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: say only what the code does, and fix two defects found by checking
  CHANGELOG.md
  CLAUDE.md
  DEVELOPMENT.md
  MULTI_PROTOCOL_ROADMAP.md
  OBJECTFS.md
  PROGRESS_REPORT.md
  RACE_CONDITION_AUDIT.md
  README.md
  RELEASE_NOTES_v0.4.0.md
  REMEDIATION_ROADMAP.md
  ROADMAP.md
  SPRINT_2_TRACKING.md
  benchmarks/README.md
  cmd/objectfs/doc.go
  docs-platform/index.md
  docs/ARCHITECTURE_EVOLUTION.md
  docs/DESIGN_PRINCIPLES.md
  docs/architecture/overview.md
  docs/features/multipart-uploads.md
  docs/s3-acceleration.md
  docs/v0.4.0-COMPLETION-SUMMARY.md
  docs/v0.5.0-implementation-plan.md
  internal/adapter/adapter.go
  internal/config/doc.go
  internal/config/docs_test.go
  internal/config/version_test.go
  internal/fuse/doc.go
  internal/fuse/filesystem.go
  internal/fuse/mount.go
  internal/storage/s3/acceleration_race_test.go
  internal/storage/s3/backend.go
  internal/storage/s3/client.go
  internal/storage/s3/doc.go
  internal/vfs/handle_test.go
  mkdocs.yml
  tests/e2e_test.go
  tests/fuse_test.go
  tests/posix_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

release: v0.10.1 — and a release path that could have shipped it
  .github/workflows/release.yml
  .goreleaser.yaml
  .goreleaser.yml
  CHANGELOG.md
  README.md
  cmd/objectfs/main.go
  go.mod
  go.sum
Due: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

fix(ci): make the lint gate run, and fix what it found
  .github/workflows/ci.yml
  .golangci.yml
  CHANGELOG.md
  internal/adapter/adapter.go
  internal/adapter/testdata/fuzz/FuzzConfigConstructsBackend/ee4fbe8b52274e23
  internal/awsname/awsname.go
  internal/awsname/awsname_test.go
  internal/config/config.go
  internal/difftest/compare.go
  internal/difftest/difftest_test.go
  internal/difftest/fs.go
  internal/difftest/fuzz_test.go
  internal/difftest/shrink.go
  internal/health/checker.go
  internal/storage/s3/backend.go
  internal/storage/s3/backend_seam_test.go
  internal/storage/s3/backend_test.go
  internal/storage/s3/client.go
  internal/storage/s3/client_close_test.go
  internal/storage/s3/client_endpoint_test.go
  internal/storage/s3/compression_integrity_test.go
  internal/storage/s3/fuzz_range_test.go
  internal/storage/s3/fuzz_roundtrip_test.go
  internal/storage/s3/read_amplification_test.go
  internal/testaws/shared.go
  internal/testaws/testaws.go
  internal/vfs/extent_test.go
  pkg/health/health.go
  pkg/recovery/connection.go
  tests/unit_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(sdks/c): make go vet pass by casting the handle in C, not Go
  .golangci.yml
  CHANGELOG.md
  sdks/c/libobjectfs.h
  sdks/c/main.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(config): refuse a duration written without a unit
  CHANGELOG.md
  configs/example.yaml
  examples/config.yaml
  internal/adapter/testdata/fuzz/FuzzConfigConstructsBackend/7287a95b077b9bb3
  internal/config/config.go
  internal/config/validate_durations_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: the two CI jobs that were red, and both were real
  .coverage-floors
  CHANGELOG.md
  go.mod
  internal/awsname/awsname_test.go
  internal/fuse/filesystem.go
  internal/fuse/optimizations.go
  internal/fuse/read_path_test.go
  internal/network/congestion_linux.go
  internal/network/congestion_linux_test.go
Due: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

fix: the coverage floor was a lucky run, and lint never saw the linux file
  .coverage-floors
  CHANGELOG.md
  internal/health/checker.go
  internal/health/checker_test.go
  internal/health/monitor_test.go
  internal/network/congestion_linux.go
  internal/network/congestion_linux_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: the fuzzer was OOM-killing its own workers and blaming the input
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

fix: dedup overlapping fetches, not just identical ones
  CHANGELOG.md
  internal/fuse/filesystem.go
  internal/fuse/optimizations.go
  internal/fuse/read_path_test.go
  internal/testaws/recorder.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(release): build the artifacts before publishing the page
  .github/workflows/release.yml
  .github/workflows/security.yml
  CHANGELOG.md
  Dockerfile
Due: none

fix(ci): pin trivy-action to a tag that exists
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

fix(ci): unblock the two gates the trivy fix made visible
  .coverage-floors
  .github/workflows/security.yml
  pkg/memmon/monitor_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs(changelog): record the three CI fixes in 0.10.1
  CHANGELOG.md
Due: none

fix(deps): build with go1.26.5 and bump aws-sdk-go-v2 past GHSA-xmrv-pmrh-hhx2
  go.mod
  go.sum
Due: go-mod-verify, security-deps-check

docs(changelog): record the toolchain pin and the SDK bump
  CHANGELOG.md
Due: none

fix(ci): scope the license check to what we actually distribute
  .github/workflows/security.yml
Due: none

docs(changelog): record the license-check scoping
  CHANGELOG.md
Due: none

fix(ci): pin trivy-action to a tag that exists (#194)
  .coverage-floors
  .github/workflows/release.yml
  .github/workflows/security.yml
  CHANGELOG.md
  go.mod
  go.sum
  pkg/memmon/monitor_test.go
Due: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

chore: packaging fixes so a first look finds what the README claims
  .github/ISSUE_TEMPLATE/security_issue.yml
  .github/dependabot.yml
  .github/labels.yml
  .github/workflows/dependabot-automerge.yml
  .gitignore
  .markdownlint.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  README.md
  README_CROSS_PLATFORM.md
  RELEASE_NOTES_v0.1.0.md
  SECURITY.md
  docs-platform/docker-compose.yml
  scripts/setup-hooks.sh
Due: none

fix(ci): read the module path from go.mod in the coverage gate
  scripts/coverage-gate.sh
Due: none

fix(testaws): record a request before its caller can observe the response
  CHANGELOG.md
  internal/testaws/recorder.go
  internal/testaws/testaws_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(testaws): record a request before its caller can observe the response (#216)
  CHANGELOG.md
  internal/testaws/recorder.go
  internal/testaws/testaws_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

release: v0.10.2, so the module-path fix reaches a tag
  CHANGELOG.md
  SECURITY.md
  cmd/objectfs/main.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

release: v0.10.2, so the module-path fix reaches a tag (#217)
  CHANGELOG.md
  SECURITY.md
  cmd/objectfs/main.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(cost): one rate table, checked against the live AWS Pricing API
  CHANGELOG.md
  internal/analytics/model.go
  internal/awsrates/awsrates.go
  internal/awsrates/awsrates_test.go
  internal/awsrates/rates_aws_test.go
  internal/cost/calculator.go
  internal/cost/calculator_test.go
  internal/cost/pricing.go
  internal/cost/pricing_drift_test.go
  internal/cost/reporter.go
  internal/cost/reporter_test.go
  internal/storage/s3/doc.go
  internal/storage/s3/pricing_manager.go
  internal/storage/s3/pricing_manager_test.go
  internal/storage/s3/tiers.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(cost): one rate table, checked against the live AWS Pricing API (#220)
  CHANGELOG.md
  internal/analytics/model.go
  internal/awsrates/awsrates.go
  internal/awsrates/awsrates_test.go
  internal/awsrates/rates_aws_test.go
  internal/cost/calculator.go
  internal/cost/calculator_test.go
  internal/cost/pricing.go
  internal/cost/pricing_drift_test.go
  internal/cost/reporter.go
  internal/cost/reporter_test.go
  internal/storage/s3/doc.go
  internal/storage/s3/pricing_manager.go
  internal/storage/s3/pricing_manager_test.go
  internal/storage/s3/tiers.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: restore the Go Reference badge, now that the page has something on it
  README.md
Due: none

docs: restore the Go Reference badge, now that the page has something on it (#221)
  README.md
Due: none

docs: stop claiming a throughput number nothing measured
  CHANGELOG.md
  CLAUDE.md
  ROADMAP.md
  docs/ARCHITECTURE_EVOLUTION.md
  docs/CARGOSHIP_MODULARIZATION_REQUEST.md
  docs/PLATFORM_STRATEGY.md
  docs/VISION.md
  docs/features/multipart-uploads.md
  docs/index.md
  docs/s3-acceleration.md
  internal/storage/s3/doc.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: delete a doc with nine defects, and pin the errnos users act on
  CHANGELOG.md
  OBJECTFS.md
  README.md
  docs-platform/guide/getting-started.md
  docs-platform/playground/index.md
  docs/DESIGN_PRINCIPLES.md
  docs/VISION.md
  docs/performance-metrics.md
  internal/adapter/doc.go
  internal/fuse/unimplemented_test.go
  internal/metrics/doc.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs(metrics): point the not-wired-up section at its tracking issue
  internal/metrics/doc.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test(docs): gate the pattern rather than its instances
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  OBJECTFS.md
  docs-platform/index.md
  docs-platform/playground/index.md
  docs/features/read-ahead.md
  internal/config/docs_symbols_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: correct the last POSIX-compliance claim, and what checking the page found
  .github/ISSUE_TEMPLATE/documentation.yml
  CHANGELOG.md
  docs-platform/guide/getting-started.md
  docs-platform/guide/index.md
  docs-platform/index.md
  mkdocs.yml
  sdks/javascript/README.md
  sdks/javascript/package.json
  sdks/python/README.md
  sdks/python/setup.py
Due: none

test(docs): gate link targets, and find twice what the issue counted
  CHANGELOG.md
  docs-platform/guide/getting-started.md
  docs-platform/guide/index.md
  docs/architecture/overview.md
  docs/concurrency-patterns.md
  docs/features/multipart-uploads.md
  docs/features/read-ahead.md
  docs/index.md
  docs/memory-monitoring.md
  docs/s3-acceleration.md
  internal/config/docs_links_test.go
  sdks/javascript/README.md
  sdks/python/README.md
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(docs): the nav now describes the tree, and the tree has no empty rooms
  CHANGELOG.md
  OBJECTFS.md
  docs/api/.gitkeep
  docs/development/.gitkeep
  docs/features/multipart-uploads.md
  docs/getting-started/.gitkeep
  docs/index.md
  docs/memory-monitoring.md
  docs/operations/.gitkeep
  docs/personas/.gitkeep
  docs/user-guides/.gitkeep
  internal/config/docs_links_test.go
  mkdocs.yml
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: what transparent compression costs, measured rather than asserted
  CHANGELOG.md
  README.md
  docs/features/compression.md
  docs/index.md
  mkdocs.yml
Due: none

Path conditions:
  go-build-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  go-mod-verify: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  golangci-lint-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  integration-ready-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  security-deps-check: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  license-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

