Repository scttfrdmn/objectfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

go-build-check:
  name: Go Build Check
  entry: sh -c 'go build ./...'
  language: system
  pass_filenames: false

go-mod-verify:
  name: Go Mod Verify
  entry: sh -c 'go mod verify'
  language: system
  pass_filenames: false

golangci-lint-check:
  name: Go Quality Checks
  entry: sh -c 'golangci-lint run --enable=errcheck,staticcheck,govet,ineffassign,unused,bodyclose,unconvert,whitespace --timeout=5m'
  language: system
  pass_filenames: false

integration-ready-check:
  name: Integration Test Readiness
  entry: sh -c 'if [ -n "${AWS_ENDPOINT_URL:-}" ]; then echo "🔧 LocalStack detected, running integration tests..."; go test -tags=integration -v ./tests/...; else echo "ℹ️  Integration tests skipped (no LocalStack)"; fi'
  language: system
  pass_filenames: false

security-deps-check:
  name: Security Dependencies Check
  entry: 'sh -c ''echo "🔒 Checking dependencies..." && go list -m all | wc -l | xargs -I {} echo "Dependencies checked: {}"''
  
    '
  language: system
  pass_filenames: false

license-check:
  name: License Check
  entry: 'sh -c ''find . -name "*.go" -not -path "./vendor/*" | xargs grep -L "Licensed under the Apache License" | head -10 | while read file; do echo "Missing license header: $file"; done; exit 0''
  
    '
  language: system
  pass_filenames: false

perf(compression): skip data that arrived compressed, and measure what that is worth (#184) (#409)
  .coverage-floors
  CHANGELOG.md
  docs/features/compression.md
  internal/compression/analyzer.go
  internal/compression/s3_integration.go
  internal/compression/skip_compressed_bench_test.go
  internal/compression/skip_compressed_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

release: 0.13.0
  CHANGELOG.md
  SECURITY.md
  cmd/objectfs/main.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

release: 0.13.0 (#411)
  CHANGELOG.md
  SECURITY.md
  cmd/objectfs/main.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(packaging): deb/rpm packages, and the uninstall script they make reachable (#207, #137, #145)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  README.md
  configs/modules/objectfs.lua
  configs/modules/objectfs.tcl
  internal/config/modulefiles_test.go
  internal/config/packaging_test.go
  nfpm.yaml
  scripts/cleanup-aws-test.sh
  scripts/pjdfstest.sh
  scripts/postinstall.sh
  scripts/preremove.sh
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

ci: split the modulefile job per interpreter, and drop a purge that cannot happen
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

fix(config): assert the refusal an operator sees, not modulecmd's exit code
  configs/modules/objectfs.tcl
  internal/config/modulefiles_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(packaging): deb/rpm packages, and the uninstall script they make reachable (#207, #137, #145) (#412)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  README.md
  configs/modules/objectfs.lua
  configs/modules/objectfs.tcl
  internal/config/modulefiles_test.go
  internal/config/packaging_test.go
  nfpm.yaml
  scripts/cleanup-aws-test.sh
  scripts/pjdfstest.sh
  scripts/postinstall.sh
  scripts/preremove.sh
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

ci: give the modulefiles matrix legs names that can be required checks
  .github/workflows/ci.yml
Due: none

ci: give the modulefiles matrix legs names that can be required checks (#413)
  .github/workflows/ci.yml
Due: none

feat(cluster): objectfs cluster status, and the endpoint it reads (#147)
  cmd/objectfs/cluster.go
  cmd/objectfs/cluster_test.go
  cmd/objectfs/main.go
  cmd/objectfs/main_test.go
  internal/adapter/adapter.go
  internal/config/docs_symbols_test.go
  internal/distributed/cluster.go
  internal/distributed/cluster_test.go
  internal/distributed/gossip.go
  internal/distributed/status.go
  internal/distributed/status_test.go
  internal/health/checker.go
  internal/health/cluster.go
  internal/health/cluster_test.go
  internal/health/monitor.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs(changelog): cluster status and the self-cache defect (#147)
  CHANGELOG.md
Due: none

fix(cluster): clamp the cache-request count instead of suppressing G115
  internal/distributed/cluster.go
  internal/distributed/cluster_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(cluster): objectfs cluster status, and the endpoint it reads (#147) (#414)
  CHANGELOG.md
  cmd/objectfs/cluster.go
  cmd/objectfs/cluster_test.go
  cmd/objectfs/main.go
  cmd/objectfs/main_test.go
  internal/adapter/adapter.go
  internal/config/docs_symbols_test.go
  internal/distributed/cluster.go
  internal/distributed/cluster_test.go
  internal/distributed/gossip.go
  internal/distributed/status.go
  internal/distributed/status_test.go
  internal/health/checker.go
  internal/health/cluster.go
  internal/health/cluster_test.go
  internal/health/monitor.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(vfs,fuse): extended attributes, stored in S3 user metadata (#167)
  CHANGELOG.md
  README.md
  internal/fuse/errno.go
  internal/fuse/errno_test.go
  internal/fuse/unimplemented_test.go
  internal/fuse/xattr.go
  internal/fuse/xattr_oracle_test.go
  internal/fuse/xattr_test.go
  internal/vfs/attr.go
  internal/vfs/attr_test.go
  internal/vfs/errors.go
  internal/vfs/handle.go
  internal/vfs/writer.go
  internal/vfs/writer_test.go
  internal/vfs/xattr.go
  internal/vfs/xattr_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(fuse): answer both-xattr-flags per platform, and clamp the size cast
  CHANGELOG.md
  README.md
  internal/fuse/xattr.go
  internal/fuse/xattr_flags_darwin.go
  internal/fuse/xattr_flags_linux.go
  internal/fuse/xattr_oracle_test.go
  internal/fuse/xattr_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(fuse): widen the xattr size bound so 32-bit targets compile
  internal/fuse/xattr.go
  internal/fuse/xattr_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: ratchet internal/fuse's coverage floor to CI's measurement, 67 → 72
  .coverage-floors
Due: none

feat(vfs,fuse): extended attributes, stored in S3 user metadata (#167) (#416)
  .coverage-floors
  CHANGELOG.md
  README.md
  internal/fuse/errno.go
  internal/fuse/errno_test.go
  internal/fuse/unimplemented_test.go
  internal/fuse/xattr.go
  internal/fuse/xattr_flags_darwin.go
  internal/fuse/xattr_flags_linux.go
  internal/fuse/xattr_oracle_test.go
  internal/fuse/xattr_test.go
  internal/vfs/attr.go
  internal/vfs/attr_test.go
  internal/vfs/errors.go
  internal/vfs/handle.go
  internal/vfs/writer.go
  internal/vfs/writer_test.go
  internal/vfs/xattr.go
  internal/vfs/xattr_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(deploy): Kubernetes and Compose manifests, and the cluster env vars they need (#146)
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  deploy/docker/docker-compose.yaml
  deploy/docker/node-config.yaml
  deploy/kubernetes/configmap.yaml
  deploy/kubernetes/daemonset.yaml
  deploy/kubernetes/statefulset.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/config/deploy_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(deploy): Kubernetes and Compose manifests, and the cluster env vars they need (#146) (#417)
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  deploy/docker/docker-compose.yaml
  deploy/docker/node-config.yaml
  deploy/kubernetes/configmap.yaml
  deploy/kubernetes/daemonset.yaml
  deploy/kubernetes/statefulset.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/config/deploy_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(config): refuse a wildcard advertise_addr, and an operator guide for clustering (#152)
  CHANGELOG.md
  README.md
  cmd/objectfs/dryrun_cluster_test.go
  cmd/objectfs/main.go
  configs/example.yaml
  docs/admin-guide/distributed.md
  internal/config/config.go
  internal/config/docs_distributed_test.go
  internal/config/validate_cluster_test.go
  mkdocs.yml
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(config): the port-0 refusal was justified by a darwin-only measurement
  CHANGELOG.md
  docs/admin-guide/distributed.md
  internal/config/config.go
  internal/config/validate_cluster_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(config): refuse a wildcard advertise_addr, and an operator guide for clustering (#152) (#418)
  CHANGELOG.md
  README.md
  cmd/objectfs/dryrun_cluster_test.go
  cmd/objectfs/main.go
  configs/example.yaml
  docs/admin-guide/distributed.md
  internal/config/config.go
  internal/config/docs_distributed_test.go
  internal/config/validate_cluster_test.go
  mkdocs.yml
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: day-two operations and troubleshooting, and a gate for them (#148)
  CHANGELOG.md
  README.md
  docs/admin-guide/operations.md
  docs/admin-guide/troubleshooting.md
  internal/config/docs_admin_guide_test.go
  mkdocs.yml
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: stop the CLI gate at a pipe, and read every file that declares a flag
  CHANGELOG.md
  internal/config/docs_symbols_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: day-two operations and troubleshooting, and a gate for them (#148) (#419)
  CHANGELOG.md
  README.md
  docs/admin-guide/operations.md
  docs/admin-guide/troubleshooting.md
  internal/config/docs_admin_guide_test.go
  internal/config/docs_symbols_test.go
  mkdocs.yml
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(release): attach the .deb and .rpm nobody could obtain (#138)
  .github/workflows/release.yml
  CHANGELOG.md
  internal/config/release_packages_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(release): attach the .deb and .rpm nobody could obtain (#138) (#420)
  .github/workflows/release.yml
  CHANGELOG.md
  internal/config/release_packages_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(install): a script that verifies what it downloads (#138)
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  docs-platform/guide/getting-started.md
  docs/index.md
  internal/config/install_script_test.go
  scripts/install.sh
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(install): a script that verifies what it downloads (#138) (#421)
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  docs-platform/guide/getting-started.md
  docs/index.md
  internal/config/install_script_test.go
  scripts/install.sh
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(pages): serve objectfs.io, and gate what the page is allowed to claim
  .github/workflows/pages.yml
  .github/workflows/release.yml
  CHANGELOG.md
  docs-platform/index.md
  docs/DESIGN_PRINCIPLES.md
  docs/VISION.md
  docs/architecture/overview.md
  docs/index.md
  internal/config/landing_page_test.go
  mkdocs.yml
  web/CNAME
  web/assets/favicon.svg
  web/css/style.css
  web/index.html
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(pages): serve objectfs.io, and gate what the page is allowed to claim (#429)
  .github/workflows/pages.yml
  .github/workflows/release.yml
  CHANGELOG.md
  docs-platform/index.md
  docs/DESIGN_PRINCIPLES.md
  docs/VISION.md
  docs/architecture/overview.md
  docs/index.md
  internal/config/landing_page_test.go
  mkdocs.yml
  web/CNAME
  web/assets/favicon.svg
  web/css/style.css
  web/index.html
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(pages): link the docs the site publishes, and gate that it does
  CHANGELOG.md
  internal/config/landing_page_test.go
  web/index.html
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(deps): bump the toolchain to go1.26.6, clearing seven stdlib advisories
  CHANGELOG.md
  go.mod
Due: go-mod-verify, security-deps-check

fix(s3): AccelerationStats no longer reports a state it just changed
  CHANGELOG.md
  internal/storage/s3/acceleration_recovery_test.go
  internal/storage/s3/backend.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(deps): bump the toolchain to go1.26.6, clearing seven stdlib advisories (#431)
  CHANGELOG.md
  go.mod
Due: go-mod-verify, security-deps-check

ci: stop install-script from throwing away the output it asserts on
  .github/workflows/ci.yml
Due: none

docs(install): objectfs.io is served now, and that is not why the repo host is absent
  scripts/install.sh
Due: none

fix(pages): the docs tree links back to the landing page, and that is gated too
  CHANGELOG.md
  internal/config/landing_page_test.go
  mkdocs.yml
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(s3): AccelerationStats no longer reports a state it just changed (#432)
  CHANGELOG.md
  internal/storage/s3/acceleration_recovery_test.go
  internal/storage/s3/backend.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

Path conditions:
  go-build-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  go-mod-verify: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  golangci-lint-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  integration-ready-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  security-deps-check: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  license-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

