Repository scttfrdmn/objectfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

go-build-check:
  name: Go Build Check
  entry: sh -c 'go build ./...'
  language: system
  pass_filenames: false

go-mod-verify:
  name: Go Mod Verify
  entry: sh -c 'go mod verify'
  language: system
  pass_filenames: false

golangci-lint-check:
  name: Go Quality Checks
  entry: sh -c 'golangci-lint run --enable=errcheck,staticcheck,govet,ineffassign,unused,bodyclose,unconvert,whitespace --timeout=5m'
  language: system
  pass_filenames: false

integration-ready-check:
  name: Integration Test Readiness
  entry: sh -c 'if [ -n "${AWS_ENDPOINT_URL:-}" ]; then echo "🔧 LocalStack detected, running integration tests..."; go test -tags=integration -v ./tests/...; else echo "ℹ️  Integration tests skipped (no LocalStack)"; fi'
  language: system
  pass_filenames: false

security-deps-check:
  name: Security Dependencies Check
  entry: 'sh -c ''echo "🔒 Checking dependencies..." && go list -m all | wc -l | xargs -I {} echo "Dependencies checked: {}"''
  
    '
  language: system
  pass_filenames: false

license-check:
  name: License Check
  entry: 'sh -c ''find . -name "*.go" -not -path "./vendor/*" | xargs grep -L "Licensed under the Apache License" | head -10 | while read file; do echo "Missing license header: $file"; done; exit 0''
  
    '
  language: system
  pass_filenames: false

fix: the overflow guard overflowed, and armv7 shipped from an unbuilt matrix
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  DEVELOPMENT.md
  internal/config/release_platforms_test.go
  internal/fuse/filesystem.go
  internal/fuse/width_guard_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: the overflow guard overflowed, and armv7 shipped from an unbuilt matrix (#354)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  DEVELOPMENT.md
  internal/config/release_platforms_test.go
  internal/fuse/filesystem.go
  internal/fuse/width_guard_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(sdks/c): the length that crossed into C.GoBytes could store an empty object
  .github/workflows/security.yml
  .gitignore
  CHANGELOG.md
  sdks/c/libobjectfs.h
  sdks/c/main.go
  sdks/c/main_test.go
  sdks/c/tests/test_basic.c
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: suppressions that suppress, and the defect one of them hid
  .golangci.yml
  CHANGELOG.md
  internal/adapter/adapter.go
  internal/awsname/awsname.go
  internal/cache/interface.go
  internal/difftest/compare.go
  internal/difftest/fs.go
  internal/health/enhanced_monitor.go
  internal/metrics/detailed.go
  internal/network/congestion_linux.go
  internal/storage/s3/backend.go
  internal/storage/s3/config.go
  internal/storage/s3/config_seam_test.go
  internal/testaws/shared.go
  internal/testaws/testaws.go
  internal/testaws/testaws_test.go
  pkg/utils/structured_logger.go
  sdks/go/objectfs/client_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

build: stop passing three linker flags that set nothing
  CHANGELOG.md
  Makefile
  OBJECTFS.md
Due: none

fix(benchmarks): run the nine benchmarks that need no bucket
  .gitignore
  CHANGELOG.md
  benchmarks/run_benchmarks.sh
Due: none

test: hold the coverage gate's unfloored set to a recorded reason
  .coverage-floors
  CHANGELOG.md
  internal/config/coverage_floors_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: delete the upload path that dropped four headers and gained nothing
  CHANGELOG.md
  docs/architecture/overview.md
  docs/features/multipart-uploads.md
  docs/s3-acceleration.md
  examples/config.yaml
  go.mod
  go.sum
  internal/adapter/adapter.go
  internal/adapter/config_mapping_test.go
  internal/adapter/doc.go
  internal/adapter/fuzz_config_test.go
  internal/config/config.go
  internal/fuse/tier_min_size_test.go
  internal/storage/s3/acceleration_bench_test.go
  internal/storage/s3/backend.go
  internal/storage/s3/client.go
  internal/storage/s3/compression_algorithm_change_test.go
  internal/storage/s3/compression_integrity_test.go
  internal/storage/s3/config.go
  internal/storage/s3/config_seam_test.go
  internal/storage/s3/doc.go
  internal/storage/s3/encryption.go
  internal/storage/s3/encryption_test.go
  internal/storage/s3/metadata_listing_test.go
  internal/storage/s3/storage_tier_seam_test.go
  internal/storage/s3/upload_path_test.go
  internal/testaws/testaws.go
  tests/aws_s3_test.go
Due: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

test: bound the harness's memory, and measure what it actually costs
  CHANGELOG.md
  internal/difftest/fuzz_test.go
  internal/testaws/doc.go
  internal/testaws/shared.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(sdks/c): the length that crossed into C.GoBytes could store an empty object (#355)
  .github/workflows/security.yml
  .gitignore
  CHANGELOG.md
  sdks/c/libobjectfs.h
  sdks/c/main.go
  sdks/c/main_test.go
  sdks/c/tests/test_basic.c
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

build: stop passing three linker flags that set nothing (#357)
  CHANGELOG.md
  Makefile
  OBJECTFS.md
Due: none

fix: delete the upload path that dropped four headers and gained nothing (#363)
  CHANGELOG.md
  docs/architecture/overview.md
  docs/features/multipart-uploads.md
  docs/s3-acceleration.md
  examples/config.yaml
  go.mod
  go.sum
  internal/adapter/adapter.go
  internal/adapter/config_mapping_test.go
  internal/adapter/doc.go
  internal/adapter/fuzz_config_test.go
  internal/config/config.go
  internal/fuse/tier_min_size_test.go
  internal/storage/s3/acceleration_bench_test.go
  internal/storage/s3/backend.go
  internal/storage/s3/client.go
  internal/storage/s3/compression_algorithm_change_test.go
  internal/storage/s3/compression_integrity_test.go
  internal/storage/s3/config.go
  internal/storage/s3/config_seam_test.go
  internal/storage/s3/doc.go
  internal/storage/s3/encryption.go
  internal/storage/s3/encryption_test.go
  internal/storage/s3/metadata_listing_test.go
  internal/storage/s3/storage_tier_seam_test.go
  internal/storage/s3/upload_path_test.go
  internal/testaws/testaws.go
  tests/aws_s3_test.go
Due: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

fix: suppressions that suppress, and the defect one of them hid (#356)
  .golangci.yml
  CHANGELOG.md
  internal/adapter/adapter.go
  internal/awsname/awsname.go
  internal/cache/interface.go
  internal/difftest/compare.go
  internal/difftest/fs.go
  internal/health/enhanced_monitor.go
  internal/metrics/detailed.go
  internal/network/congestion_linux.go
  internal/storage/s3/backend.go
  internal/storage/s3/config.go
  internal/storage/s3/config_seam_test.go
  internal/testaws/shared.go
  internal/testaws/testaws.go
  internal/testaws/testaws_test.go
  pkg/utils/structured_logger.go
  sdks/go/objectfs/client_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(benchmarks): run the nine benchmarks that need no bucket (#358)
  .gitignore
  CHANGELOG.md
  benchmarks/run_benchmarks.sh
Due: none

test: hold the coverage gate's unfloored set to a recorded reason (#359)
  .coverage-floors
  CHANGELOG.md
  internal/config/coverage_floors_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: a comment word that read as the wrong claim
  internal/difftest/fuzz_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: bound the harness's memory footprint, and measure what an iteration actually costs (#364)
  CHANGELOG.md
  internal/difftest/fuzz_test.go
  internal/testaws/doc.go
  internal/testaws/shared.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

remove: two memory-monitoring packages nothing imported, one of them a listener
  .coverage-floors
  CHANGELOG.md
  SECURITY.md
  docs/concurrency-patterns.md
  docs/memory-monitoring.md
  internal/config/config.go
  mkdocs.yml
  pkg/memmon/monitor.go
  pkg/memmon/monitor_test.go
  pkg/memmon/profiler.go
  pkg/profiling/memory.go
  pkg/profiling/memory_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

remove: two memory-monitoring packages nothing imported, one of them a listener (#365)
  .coverage-floors
  CHANGELOG.md
  SECURITY.md
  docs/concurrency-patterns.md
  docs/memory-monitoring.md
  internal/config/config.go
  mkdocs.yml
  pkg/memmon/monitor.go
  pkg/memmon/monitor_test.go
  pkg/memmon/profiler.go
  pkg/profiling/memory.go
  pkg/profiling/memory_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

deps(sdks/javascript): eventemitter3 4.0.7 -> 5.0.4
  CHANGELOG.md
  sdks/javascript/package-lock.json
  sdks/javascript/package.json
Due: none

fix(docs): docs-platform is a documentation site, and now only that
  .github/dependabot.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  docs-platform/.vitepress/components/ApiPlayground.vue
  docs-platform/.vitepress/components/CodeRunner.vue
  docs-platform/.vitepress/theme/index.js
  docs-platform/Dockerfile
  docs-platform/README.md
  docs-platform/docker-compose.yml
  docs-platform/guide/getting-started.md
  docs-platform/index.md
  docs-platform/package-lock.json
  docs-platform/package.json
  docs-platform/playground/index.md
  docs-platform/src/api-server.js
Due: none

deps(sdks/javascript): eventemitter3 4.0.7 -> 5.0.4 (#368)
  CHANGELOG.md
  sdks/javascript/package-lock.json
  sdks/javascript/package.json
Due: none

fix(docs): docs-platform is a documentation site, and now only that (#366)
  .github/dependabot.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  docs-platform/.vitepress/components/ApiPlayground.vue
  docs-platform/.vitepress/components/CodeRunner.vue
  docs-platform/.vitepress/theme/index.js
  docs-platform/Dockerfile
  docs-platform/README.md
  docs-platform/docker-compose.yml
  docs-platform/guide/getting-started.md
  docs-platform/index.md
  docs-platform/package-lock.json
  docs-platform/package.json
  docs-platform/playground/index.md
  docs-platform/src/api-server.js
Due: none

fix: classify acceleration errors by code and message, not by substring
  CHANGELOG.md
  internal/cache/persistent.go
  internal/cache/persistent_test.go
  internal/storage/s3/acceleration_bench_test.go
  internal/storage/s3/acceleration_test.go
  internal/storage/s3/backend.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: classify acceleration errors by code and message, not by substring (#371)
  CHANGELOG.md
  internal/cache/persistent.go
  internal/cache/persistent_test.go
  internal/storage/s3/acceleration_bench_test.go
  internal/storage/s3/acceleration_test.go
  internal/storage/s3/backend.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: give pkg/archive tests of its own and sdks/c a floor (#360, #361)
  .coverage-floors
  .github/workflows/ci.yml
  CHANGELOG.md
  internal/config/coverage_floors_test.go
  pkg/archive/metadata_test.go
  scripts/coverage-gate.sh
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: t.Parallel across seventeen files, and one test that passed by luck (#179)
  .golangci.yml
  CHANGELOG.md
  internal/cache/lru_test.go
  internal/cache/persistent_test.go
  internal/metrics/collector_test.go
  internal/metrics/detailed_test.go
  pkg/api/server_test.go
  pkg/errors/errors_test.go
  pkg/health/health_test.go
  pkg/recovery/connection_test.go
  pkg/recovery/recovery_test.go
  pkg/retry/retry_test.go
  pkg/status/status_test.go
  pkg/types/interfaces_test.go
  pkg/utils/log_rotation_test.go
  pkg/utils/logging_test.go
  pkg/utils/path_test.go
  pkg/utils/structured_logger_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

lint: range over integers, and stop linting a dependency's Go files
  .golangci.yml
  CHANGELOG.md
  internal/cache/multilevel_bench_test.go
  internal/distributed/coordinator.go
  internal/health/monitor_test.go
  internal/storage/s3/backend_bench_test.go
  pkg/api/server_test.go
  pkg/health/health_test.go
  pkg/status/status_test.go
  tests/fuse_test.go
  tests/multilevel_predictive_test.go
  tests/predictive_cache_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: assert what markDegraded records, and unshadow five predeclared names
  CHANGELOG.md
  internal/cache/predictive.go
  pkg/recovery/recovery_test.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: make six section headers into doc comments that say something
  CHANGELOG.md
  internal/distributed/cluster.go
  internal/filesystem/interface.go
  internal/fuse/platform.go
  internal/health/checker.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: the assertions a linter would have weakened, and the ones that panic
  CHANGELOG.md
  internal/analytics/model_test.go
  internal/analytics/patterns_test.go
  internal/analytics/predictor_test.go
  internal/cache/redis/client_test.go
  internal/cost/calculator_test.go
  internal/cost/reporter_test.go
  internal/difftest/fuzz_test.go
  internal/storage/s3/backend_test.go
  tests/fuse_test.go
  tests/integration_test.go
  tests/unit_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: a cluster node whose status this build doesn't recognize
  CHANGELOG.md
  internal/circuit/breaker.go
  internal/distributed/cluster.go
  internal/distributed/cluster_test.go
  internal/distributed/consensus.go
  pkg/api/server.go
  pkg/health/health.go
  pkg/recovery/connection.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: eleven type assertions that panic where they should fail
  CHANGELOG.md
  internal/metrics/collector_test.go
  internal/metrics/detailed_test.go
  pkg/api/server.go
  pkg/api/server_test.go
  pkg/recovery/connection_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: gosec at zero, and three real defects behind it
  CHANGELOG.md
  internal/cache/persistent.go
  internal/cache/persistent_test.go
  internal/distributed/consensus.go
  internal/distributed/consensus_test.go
  internal/health/checker.go
  pkg/retry/retry.go
  pkg/utils/log_rotation.go
  pkg/utils/log_rotation_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: request contexts that a test can actually cancel
  CHANGELOG.md
  internal/network/monitor_test.go
  pkg/api/server_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: three live defects behind five contextcheck findings
  CHANGELOG.md
  internal/health/checker.go
  internal/health/enhanced_monitor.go
  internal/health/monitor.go
  internal/health/monitor_test.go
  internal/storage/s3/client.go
  internal/storage/s3/pool.go
  internal/storage/s3/pool_health_test.go
  internal/storage/s3/pool_test.go
  pkg/recovery/connection.go
  pkg/recovery/connection_context_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: read-ahead leaked five goroutines per mount
  CHANGELOG.md
  internal/adapter/adapter.go
  internal/fuse/delete_test.go
  internal/fuse/doc.go
  internal/fuse/filesystem.go
  internal/fuse/filesystem_test.go
  internal/fuse/kernel_options_live_test.go
  internal/fuse/kernel_options_test.go
  internal/fuse/optimizations.go
  internal/fuse/optimizations_test.go
  internal/fuse/platform.go
  internal/fuse/read_path_test.go
  internal/fuse/readahead_lifetime_test.go
  internal/fuse/rename_test.go
  internal/fuse/tier_min_size_test.go
  internal/fuse/unimplemented_test.go
  tests/fuse_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: the Redis invalidation subscriber's deletes honour its context
  CHANGELOG.md
  internal/cache/redis/client.go
  internal/cache/redis/invalidation.go
  internal/cache/redis/invalidation_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: a shutting-down node kept running its peers' S3 operations
  CHANGELOG.md
  internal/distributed/auth_test.go
  internal/distributed/coordinator.go
  internal/distributed/coordinator_test.go
  internal/distributed/gossip.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: make the tests that claim to be parallel actually run in parallel
  CHANGELOG.md
  internal/adapter/adapter_test.go
  internal/circuit/breaker_test.go
  internal/health/monitor_test.go
  internal/metrics/collector_test.go
  internal/metrics/detailed_test.go
  internal/storage/s3/cost_optimizer_test.go
  pkg/api/server_test.go
  pkg/errors/errors_test.go
  pkg/utils/path_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

Path conditions:
  go-build-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  go-mod-verify: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  golangci-lint-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  integration-ready-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  security-deps-check: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  license-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

