Repository scttfrdmn/objectfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

go-build-check:
  name: Go Build Check
  entry: sh -c 'go build ./...'
  language: system
  pass_filenames: false

go-mod-verify:
  name: Go Mod Verify
  entry: sh -c 'go mod verify'
  language: system
  pass_filenames: false

golangci-lint-check:
  name: Go Quality Checks
  entry: sh -c 'golangci-lint run --enable=errcheck,staticcheck,govet,ineffassign,unused,bodyclose,unconvert,whitespace --timeout=5m'
  language: system
  pass_filenames: false

integration-ready-check:
  name: Integration Test Readiness
  entry: sh -c 'if [ -n "${AWS_ENDPOINT_URL:-}" ]; then echo "🔧 LocalStack detected, running integration tests..."; go test -tags=integration -v ./tests/...; else echo "ℹ️  Integration tests skipped (no LocalStack)"; fi'
  language: system
  pass_filenames: false

security-deps-check:
  name: Security Dependencies Check
  entry: 'sh -c ''echo "🔒 Checking dependencies..." && go list -m all | wc -l | xargs -I {} echo "Dependencies checked: {}"''
  
    '
  language: system
  pass_filenames: false

license-check:
  name: License Check
  entry: 'sh -c ''find . -name "*.go" -not -path "./vendor/*" | xargs grep -L "Licensed under the Apache License" | head -10 | while read file; do echo "Missing license header: $file"; done; exit 0''
  
    '
  language: system
  pass_filenames: false

test: Add comprehensive cache package tests (Sprint 2)
  internal/cache/lru_test.go
  internal/cache/persistent_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: Add comprehensive multilevel cache tests (Sprint 2)
  internal/cache/multilevel_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

refactor: Remove unused batch processor module (Phase 1.2)
  internal/batch/processor.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

refactor: Consolidate configuration types (Phase 2)
  pkg/types/types.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

refactor: Create centralized path validation helper (Phase 3)
  internal/config/config.go
  internal/storage/s3/pricing_manager.go
  pkg/utils/logging.go
  pkg/utils/path.go
  pkg/utils/path_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: Add comprehensive adapter package tests (Sprint 2.1)
  internal/adapter/adapter_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: Add comprehensive metrics collector tests (Sprint 2.2)
  internal/metrics/collector_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: Add Sprint 2 test coverage tracking document
  SPRINT_2_TRACKING.md
Due: none

docs: Revise Sprint 2 to focus on high-value tests
  SPRINT_2_TRACKING.md
Due: none

test: Add comprehensive errors package tests (Sprint 2.3)
  pkg/errors/errors_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

chore: Change license to Apache 2.0 and add goreleaser config
  .goreleaser.yml
  LICENSE
Due: none

test: Add comprehensive circuit breaker tests (Sprint 2.4)
  LICENSE
  internal/circuit/breaker_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: Add comprehensive health monitor tests (Sprint 2.5)
  internal/health/monitor_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: Update Sprint 2 tracking with final results - 100% complete
  SPRINT_2_TRACKING.md
Due: none

Sprint 2: High-value test coverage improvements (192 tests, 74.4% avg coverage)
  .goreleaser.yml
  LICENSE
  SPRINT_2_TRACKING.md
  internal/adapter/adapter_test.go
  internal/circuit/breaker_test.go
  internal/health/monitor_test.go
  internal/metrics/collector_test.go
  pkg/errors/errors_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

chore: Upgrade AWS SDK to latest versions (Sprint 3)
  go.mod
  go.sum
Due: go-mod-verify, security-deps-check

Sprint 3: AWS SDK upgrade to latest (v1.39.2, config v1.31.12, S3 v1.88.4)
  go.mod
  go.sum
Due: go-mod-verify, security-deps-check

docs: Add comprehensive package documentation (Sprint 4.1)
  internal/distributed/doc.go
  internal/metrics/doc.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: Add comprehensive package documentation for metrics and distributed (Sprint 4.1)
  internal/distributed/doc.go
  internal/metrics/doc.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

ci: Add LocalStack integration, advanced caching, and Dependabot auto-merge
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
Due: none

style: Apply go fmt formatting fixes
  internal/buffer/writebuffer.go
  internal/cache/multilevel.go
  internal/cache/predictive.go
  internal/config/config_test.go
  internal/config/doc.go
  internal/filesystem/interface.go
  internal/fuse/cgofuse_filesystem.go
  internal/fuse/cgofuse_mount.go
  internal/fuse/doc.go
  internal/fuse/mount.go
  internal/fuse/platform_cgofuse.go
  internal/health/checker.go
  internal/health/monitor.go
  internal/metrics/collector.go
  internal/storage/s3/cost_optimizer.go
  internal/storage/s3/cost_optimizer_test.go
  internal/storage/s3/doc.go
  internal/storage/s3/pool.go
  internal/storage/s3/pricing_manager_test.go
  pkg/optimization/interfaces.go
  pkg/types/interfaces_test.go
  pkg/utils/logging_test.go
  tests/aws_s3_test.go
  tests/e2e_test.go
  tests/fuse_test.go
  tests/integration_test.go
  tests/multilevel_predictive_test.go
  tests/posix_test.go
  tests/unit_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Add workflow-level permissions for SARIF upload
  .github/workflows/ci.yml
Due: none

fix: Skip distributed tests in CI due to known race conditions
  .github/workflows/ci.yml
  tests/distributed_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Remove incorrect -tags=!distributed flag (build tags work by omission)
  .github/workflows/ci.yml
Due: none

fix: Add proper cleanup for PredictiveCache goroutines
  internal/cache/predictive.go
  tests/predictive_cache_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Disable prefetch in predictive cache tests to prevent goroutine leak
  tests/predictive_cache_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Properly initialize backend in PredictiveCache and fix deadlock
  internal/cache/predictive.go
  tests/predictive_cache_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Upgrade MockBaseCache.Get() to write lock to prevent data race
  tests/predictive_cache_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Properly handle synchronous flush in WriteBuffer
  internal/buffer/writebuffer.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Add actions:read permission to security job
  .github/workflows/ci.yml
Due: none

fix: Make SARIF upload non-blocking in security job
  .github/workflows/ci.yml
Due: none

fix: Make SARIF upload and LocalStack integration tests non-blocking
  .github/workflows/ci.yml
Due: none

Path conditions:
  go-build-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  go-mod-verify: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  golangci-lint-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  integration-ready-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  security-deps-check: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  license-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

