Repository scttfrdmn/objectfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

Path conditions:
  go-build-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  go-mod-verify: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  golangci-lint-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  integration-ready-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  security-deps-check: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  license-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$


ci: Increase golangci-lint timeout to 5 minutes to handle larger codebase
  .github/workflows/ci.yml
Due: none

fix: Add continue statement to avoid nil pointer dereference in metrics test
  internal/metrics/detailed_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

chore: Release v0.4.0 - Production hardening and performance optimization
  RELEASE_NOTES_v0.4.0.md
  benchmarks/README.md
  benchmarks/run_benchmarks.sh
  tests/e2e_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

security: Upgrade Go from 1.23 to 1.24 to fix stdlib vulnerabilities
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  go.mod
Due: go-mod-verify, security-deps-check

fix: Clean gosec SARIF output to pass GitHub validation
  .github/workflows/security.yml
Due: none

fix: Remove duplicate Go module caching causing build failures
  .github/workflows/security.yml
Due: none

fix: Add cmd/objectfs source files that were inadvertently gitignored
  cmd/objectfs/doc.go
  cmd/objectfs/main.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: Only build for Linux platforms (ObjectFS requires FUSE)
  .github/workflows/security.yml
Due: none

feat: org and goreleaser
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/security_issue.yml
  .github/ISSUE_TEMPLATE/technical_debt.yml
  .github/labels.yml
  .github/scripts/create-v0.5.0-issues.sh
  .github/scripts/sync-labels.sh
  .gitignore
  .goreleaser.yaml
  configs/example.yaml
  configs/systemd/objectfs@.service
  docs/v0.5.0-implementation-plan.md
  scripts/postinstall.sh
  scripts/preremove.sh
Due: none

docs: Add GitHub Projects documentation
  .github/PROJECTS.md
Due: none

docs: Add MkDocs site with Material theme, VISION, and DESIGN_PRINCIPLES
  docs/DESIGN_PRINCIPLES.md
  docs/VISION.md
  docs/api/.gitkeep
  docs/architecture/.gitkeep
  docs/development/.gitkeep
  docs/features/.gitkeep
  docs/getting-started/.gitkeep
  docs/index.md
  docs/operations/.gitkeep
  docs/personas/.gitkeep
  docs/user-guides/.gitkeep
  mkdocs.yml
Due: none

docs: Add documentation README
  docs/README.md
Due: none

fix: Update Dockerfile to use Go 1.24 and correct config path
  Dockerfile
Due: none

chore: update license to Apache 2.0 with 2025-2026 copyright, bump cargoship to v0.13.0
  .markdownlint.yaml
  .pre-commit-config.yaml
  LICENSE
  README.md
  docs-platform/README.md
  docs-platform/guide/index.md
  go.mod
  go.sum
  mkdocs.yml
  sdks/javascript/README.md
  sdks/python/README.md
Due: go-mod-verify, security-deps-check

chore: add CLAUDE.md, update CHANGELOG, create GitHub project artifacts
  CHANGELOG.md
  CLAUDE.md
Due: none

test: add comprehensive tests for internal/buffer package (83% coverage)
  internal/buffer/manager.go
  internal/buffer/manager_test.go
  internal/buffer/pool_test.go
  internal/buffer/writebuffer_test.go
  internal/health/enhanced_monitor.go
  internal/metrics/detailed.go
  pkg/utils/structured_logger.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: update Dockerfile to Go 1.26 and Alpine 3.21
  Dockerfile
Due: none

feat: add pkg/archive metadata types and Python SDK
  pkg/archive/metadata.go
  sdks/python/objectfs/__init__.py
  sdks/python/objectfs/cli.py
  sdks/python/objectfs/client.py
  sdks/python/objectfs/config.py
  sdks/python/objectfs/exceptions.py
  sdks/python/objectfs/monitoring.py
  sdks/python/objectfs/mount.py
  sdks/python/objectfs/storage.py
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: implement health remediation AutoFix closures (#57)
  internal/health/remediation.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: add FUSE layer unit tests for optimizations and cgofuse (#54)
  internal/fuse/cgofuse_test.go
  internal/fuse/optimizations_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: update CHANGELOG with session changes (issues #54, #57, #58, #59, #66, #68)
  CHANGELOG.md
Due: none

feat: add Go SDK for ObjectFS (closes #70)
  CHANGELOG.md
  sdks/go/objectfs/client.go
  sdks/go/objectfs/client_test.go
  sdks/go/objectfs/doc.go
  sdks/go/objectfs/errors.go
  sdks/go/objectfs/options.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: add AWS_PROFILE=aws AWS_REGION=us-west-2 to development environment guide
  CLAUDE.md
Due: none

feat: add C SDK shared library (closes #71)
  CHANGELOG.md
  sdks/c/Makefile
  sdks/c/README.md
  sdks/c/libobjectfs.h
  sdks/c/main.go
  sdks/c/objectfs.h
  sdks/c/objectfs_types.h
  sdks/c/tests/test_basic
  sdks/c/tests/test_basic.c
  sdks/c/tests/test_smoke.py
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

chore: remove committed C test binary, update .gitignore
  .gitignore
  sdks/c/tests/test_basic
Due: none

fix: remove hardcoded us-west-2 region in adapter (closes #56)
  CHANGELOG.md
  internal/adapter/adapter.go
  internal/adapter/adapter_test.go
  internal/config/config.go
  internal/config/config_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

refactor: extract putObjectMultipart helpers into multipart_upload.go (closes #55)
  CHANGELOG.md
  internal/storage/s3/backend.go
  internal/storage/s3/multipart_test.go
  internal/storage/s3/multipart_upload.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: add ZSTD compression engine with transparent S3 integration (closes #61)
  CHANGELOG.md
  go.mod
  internal/adapter/adapter.go
  internal/compression/codec.go
  internal/compression/codec_test.go
  internal/compression/s3_integration.go
  internal/compression/s3_integration_test.go
  internal/compression/zstd.go
  internal/compression/zstd_test.go
  internal/storage/s3/backend.go
  internal/storage/s3/config.go
  internal/storage/s3/multipart_upload.go
  pkg/compression/types.go
Due: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

feat: implement BBR/CUBIC congestion control for S3 network optimization (#60)
  CHANGELOG.md
  internal/adapter/adapter.go
  internal/config/config.go
  internal/network/bbr.go
  internal/network/bbr_test.go
  internal/network/congestion.go
  internal/network/congestion_linux.go
  internal/network/congestion_stub.go
  internal/network/congestion_test.go
  internal/network/monitor.go
  internal/network/monitor_test.go
  internal/storage/s3/client.go
  internal/storage/s3/config.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: add internal/archive VFS layer for transparent archive navigation (#59)
  CHANGELOG.md
  internal/archive/errors.go
  internal/archive/path_translator.go
  internal/archive/path_translator_test.go
  internal/archive/vfs.go
  internal/archive/vfs_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: add archive detection and indexing API (#58)
  CHANGELOG.md
  internal/archive/detector.go
  internal/archive/detector_test.go
  internal/archive/index.go
  internal/archive/index_test.go
  internal/archive/vfs.go
  pkg/archive/metadata.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

chore: remove Java SDK
  sdks/java/pom.xml
Due: none

feat: add adaptive compression algorithm selection (#62)
  CHANGELOG.md
  go.mod
  internal/compression/analyzer.go
  internal/compression/analyzer_test.go
  internal/compression/codec.go
  internal/compression/lz4.go
  internal/compression/lz4_test.go
  internal/compression/ml_selector.go
  internal/compression/ml_selector_test.go
  internal/compression/selector.go
  internal/compression/selector_test.go
Due: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

chore: release v0.5.0
  CHANGELOG.md
  CLAUDE.md
  cmd/objectfs/main.go
  pkg/api/server.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: add Redis distributed cache backend with pub/sub invalidation (#63)
  CHANGELOG.md
  go.mod
  go.sum
  internal/cache/interface.go
  internal/cache/interface_test.go
  internal/cache/redis/client.go
  internal/cache/redis/client_test.go
  internal/cache/redis/invalidation.go
  internal/cache/redis/invalidation_test.go
  internal/config/config.go
  pkg/types/types.go
Due: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

feat: add ML-based access pattern analysis and S3 tier recommendations (#64)
  CHANGELOG.md
  internal/analytics/model.go
  internal/analytics/model_test.go
  internal/analytics/patterns.go
  internal/analytics/patterns_test.go
  internal/analytics/predictor.go
  internal/analytics/predictor_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat: add internal/cost package for per-operation cost tracking and budget alerts (#65)
  CHANGELOG.md
  internal/cost/alerts.go
  internal/cost/alerts_test.go
  internal/cost/calculator.go
  internal/cost/calculator_test.go
  internal/cost/pricing.go
  internal/cost/pricing_test.go
  internal/cost/reporter.go
  internal/cost/reporter_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: add AWS integration test suite for v0.6.0 pre-release gate (#72)
  CHANGELOG.md
  DEVELOPMENT.md
  Makefile
  sdks/go/objectfs/client_test.go
  tests/aws_s3_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: resolve three multipart upload bugs found during real AWS integration tests
  internal/storage/s3/backend.go
  internal/storage/s3/config.go
  internal/storage/s3/multipart_state.go
  internal/storage/s3/multipart_upload.go
  sdks/go/objectfs/client_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: update CHANGELOG with multipart upload bug fixes from AWS integration testing
  CHANGELOG.md
Due: none
