Repository scttfrdmn/objectfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

go-build-check:
  name: Go Build Check
  entry: sh -c 'go build ./...'
  language: system
  pass_filenames: false

go-mod-verify:
  name: Go Mod Verify
  entry: sh -c 'go mod verify'
  language: system
  pass_filenames: false

golangci-lint-check:
  name: Go Quality Checks
  entry: sh -c 'golangci-lint run --enable=errcheck,staticcheck,govet,ineffassign,unused,bodyclose,unconvert,whitespace --timeout=5m'
  language: system
  pass_filenames: false

integration-ready-check:
  name: Integration Test Readiness
  entry: sh -c 'if [ -n "${AWS_ENDPOINT_URL:-}" ]; then echo "🔧 LocalStack detected, running integration tests..."; go test -tags=integration -v ./tests/...; else echo "ℹ️  Integration tests skipped (no LocalStack)"; fi'
  language: system
  pass_filenames: false

security-deps-check:
  name: Security Dependencies Check
  entry: 'sh -c ''echo "🔒 Checking dependencies..." && go list -m all | wc -l | xargs -I {} echo "Dependencies checked: {}"''
  
    '
  language: system
  pass_filenames: false

license-check:
  name: License Check
  entry: 'sh -c ''find . -name "*.go" -not -path "./vendor/*" | xargs grep -L "Licensed under the Apache License" | head -10 | while read file; do echo "Missing license header: $file"; done; exit 0''
  
    '
  language: system
  pass_filenames: false

test(config): requiredChecks transcribes the 12 fuzz-smoke cells branch protection now requires (#593)
  internal/config/release_gate_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(fuse): run the fuse_mount suite on the runner; a nil cache no longer panics the read path (#594)
  .github/workflows/ci.yml
  Makefile
  internal/fuse/filesystem.go
  internal/fuse/kernel_options_live_test.go
  internal/fuse/nil_cache_test.go
  internal/fuse/nocache.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test(config): requiredChecks transcribes fuse-mount, now a required check
  internal/config/release_gate_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test(config): requiredChecks transcribes fuse-mount, now a required check (#595)
  internal/config/release_gate_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

ci: run the hermetic e2e and distributed suites on every PR, and gate that every test tag is executed (#570)
  .github/workflows/ci.yml
  internal/config/tagged_suites_test.go
  internal/config/workflow_test.go
  tests/distributed_test.go
  tests/e2e_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(deps): build with go1.26.9 and golang.org/x/net v0.60.0 for eight govulncheck findings
  CHANGELOG.md
  go.mod
  go.sum
Due: go-mod-verify, security-deps-check

fix(deps): build with go1.26.9 and golang.org/x/net v0.60.0 for eight govulncheck findings (#597)
  CHANGELOG.md
  go.mod
  go.sum
Due: go-mod-verify, security-deps-check

ci: run the hermetic e2e and distributed suites on every PR, and gate that every test tag is executed (#570) (#596)
  .github/workflows/ci.yml
  internal/config/tagged_suites_test.go
  internal/config/workflow_test.go
  tests/distributed_test.go
  tests/e2e_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

ci: run the s3compat suite against MinIO on every PR (#570)
  .github/workflows/ci.yml
  internal/config/tagged_suites_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

ci(s3compat): build MinIO from a pinned source version; the image no longer exists
  .github/workflows/ci.yml
Due: none

docs(s3compat): local MinIO instructions build from source; the image is gone
  internal/storage/s3/conditional_compat_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

ci: run the s3compat suite against MinIO built from pinned source, on every PR (#599)
  .github/workflows/ci.yml
  internal/config/tagged_suites_test.go
  internal/storage/s3/conditional_compat_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

Path conditions:
  go-build-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  go-mod-verify: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  golangci-lint-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  integration-ready-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  security-deps-check: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  license-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

