Repository scttfrdmn/objectfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

Path conditions:
  go-build-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  go-mod-verify: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  golangci-lint-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  integration-ready-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  security-deps-check: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  license-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$


ci: stop install-script from throwing away the output it asserts on (#433)
  .github/workflows/ci.yml
  scripts/install.sh
Due: none

fix(pages): link the docs the site publishes, and gate that it does (#430)
  CHANGELOG.md
  internal/config/landing_page_test.go
  mkdocs.yml
  web/index.html
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

ci(security): fail Security Scan on a gosec finding that is not baselined (#415)
  .github/gosec-baseline.txt
  .github/scripts/gosec-gate.sh
  .github/workflows/security.yml
  CHANGELOG.md
  internal/config/gosec_gate_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

ci(security): fail Security Scan on a gosec finding that is not baselined (#415) (#435)
  .github/gosec-baseline.txt
  .github/scripts/gosec-gate.sh
  .github/workflows/security.yml
  CHANGELOG.md
  internal/config/gosec_gate_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(sdks): stop publishing a Documentation link to a domain that has never answered
  CHANGELOG.md
  internal/config/sdk_metadata_test.go
  sdks/python/setup.py
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(sdks): stop publishing a Documentation link to a domain that has never answered (#436)
  CHANGELOG.md
  internal/config/sdk_metadata_test.go
  sdks/python/setup.py
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(sdks/python): restore setup.py's executable bit
  sdks/python/setup.py
Due: none

fix(sdks/python): restore setup.py's executable bit (#437)
  sdks/python/setup.py
Due: none

feat(pages): serve the installer at objectfs.io/install.sh (#138)
  .github/workflows/pages.yml
  CHANGELOG.md
  internal/config/served_install_script_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(pages): serve the installer at objectfs.io/install.sh (#138) (#440)
  .github/workflows/pages.yml
  CHANGELOG.md
  internal/config/served_install_script_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: point the install one-liner at objectfs.io, and widen its gate (#138)
  CHANGELOG.md
  docs-platform/index.md
  internal/config/served_install_script_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: point the install one-liner at objectfs.io, and widen its gate (#138) (#441)
  CHANGELOG.md
  docs-platform/index.md
  internal/config/served_install_script_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(packaging): signed apt and yum repositories on Pages (#138)
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  docs-platform/guide/getting-started.md
  docs-platform/index.md
  docs/index.md
  internal/config/release_packages_test.go
  internal/config/served_install_script_test.go
  internal/config/served_repositories_test.go
  nfpm.yaml
  scripts/setup-repo-debian.sh
  scripts/setup-repo-rhel.sh
  web/index.html
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(ci): export the signing variables into the shell that runs make
  .github/workflows/ci.yml
  internal/config/served_repositories_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(ci): carry pages.yml's env block into the extracted repository step
  .github/workflows/ci.yml
Due: none

fix(ci): stop writing workflow expressions inside comments, and gate it
  .github/workflows/ci.yml
  internal/config/served_repositories_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs: record the three defects the repo-install job found by running
  CHANGELOG.md
Due: none

feat(packaging): signed apt and yum repositories on Pages (#138) (#442)
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  docs-platform/guide/getting-started.md
  docs-platform/index.md
  docs/index.md
  internal/config/release_packages_test.go
  internal/config/served_install_script_test.go
  internal/config/served_repositories_test.go
  nfpm.yaml
  scripts/setup-repo-debian.sh
  scripts/setup-repo-rhel.sh
  web/index.html
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

feat(packaging): leave the package repositories dormant, unpublished (#138)
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  docs-platform/guide/getting-started.md
  docs-platform/index.md
  docs/index.md
  internal/config/served_repositories_test.go
  web/index.html
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs(release): record the measured rpm -K matrix in the signature check
  .github/workflows/release.yml
Due: none

feat(packaging): leave the package repositories dormant, unpublished (#138) (#491)
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  docs-platform/guide/getting-started.md
  docs-platform/index.md
  docs/index.md
  internal/config/served_repositories_test.go
  web/index.html
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(install): retry transient HTTP errors on the wget download path
  internal/config/install_script_test.go
  scripts/install.sh
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test(install): assert the retry flags per call site, not per file
  internal/config/install_script_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test(install): satisfy misspell and modernize in the new helpers
  internal/config/install_script_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

chore(release): 0.14.0
  CHANGELOG.md
  cmd/objectfs/main.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

chore(deps): hold typescript at 6.x until typescript-eslint 9
  .github/dependabot.yml
Due: none

docs(changelog): date 0.14.0 the day it is tagged, not the day after
  CHANGELOG.md
Due: none

fix(install): retry transient HTTP errors on the wget path, and cut 0.14.0 (#492)
  CHANGELOG.md
  cmd/objectfs/main.go
  internal/config/install_script_test.go
  scripts/install.sh
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

chore(deps): hold typescript at 6.x until typescript-eslint 9 (#493)
  .github/dependabot.yml
Due: none

chore(deps): drop the CargoShip module and the dead tier converter holding it in
  CHANGELOG.md
  CLAUDE.md
  go.mod
  go.sum
  internal/storage/s3/tier_test.go
  internal/storage/s3/tiers.go
Due: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

ci: one definition of the gate, so a tag runs what a PR runs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  internal/config/release_gate_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: the required-check test must key on name: alone, not name-or-id
  internal/config/release_gate_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

release: sign the checksum list with keyless cosign, no key material
  .github/workflows/release.yml
  CHANGELOG.md
  internal/config/release_signing_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: scope the signature-verification assertion to the signing step
  internal/config/release_signing_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: use any instead of interface{} in the gate test
  internal/config/release_gate_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test: use strings.Cut for the cosign-installer ref lookup
  internal/config/release_signing_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

ci: one definition of the gate, so a tag runs what a PR runs (#500)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  internal/config/release_gate_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

release: sign the release keylessly with cosign, no key material and no secret (#501)
  .github/workflows/release.yml
  CHANGELOG.md
  internal/config/release_signing_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

chore(deps): drop the CargoShip module and the dead tier converter holding it in (#499)
  CHANGELOG.md
  CLAUDE.md
  go.mod
  go.sum
  internal/storage/s3/tier_test.go
  internal/storage/s3/tiers.go
Due: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

deps(python): regenerate the SDK's frozen tree in one resolution
  sdks/python/requirements.txt
Due: none
