Repository scttfrdmn/objectfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build-check, go-mod-verify, golangci-lint-check, integration-ready-check, security-deps-check, license-check

Path conditions:
  go-build-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  go-mod-verify: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  golangci-lint-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  integration-ready-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  security-deps-check: any of: (go\.mod|go\.sum)$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$

  license-check: any of: \.go$, but not: (?x)^(
  vendor/.*|
  \.git/.*|
  \.gitignore|
  .*\.pb\.go|
  .*_test\.go\.backup
)$


fix(ci): drop the approve step — Actions can't approve, and bash -e ate the merge
  .github/workflows/dependabot-automerge.yml
  CHANGELOG.md
Due: none

fix(ci): group the npm packages that can't move alone
  .github/dependabot.yml
  CHANGELOG.md
Due: none

fix(ci): group the npm packages that can't move alone (#307)
  .github/dependabot.yml
  CHANGELOG.md
Due: none

ci: action majors, the Go toolchain switch, and dependabot auto-merge cause 5 (#304)
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CHANGELOG.md
  go.mod
Due: go-mod-verify, security-deps-check

fix(ci): add typedoc to the typescript-toolchain group
  .github/dependabot.yml
  CHANGELOG.md
Due: none

fix(ci): raise the gomod and maven PR limits so outdated deps aren't silent
  .github/dependabot.yml
  CHANGELOG.md
Due: none

fix(cache): three TTL tests raced their own assertions
  CHANGELOG.md
  internal/cache/lru_test.go
  internal/cache/persistent_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(security): force vite 6 and uuid 11 through overrides, not a version bump
  CHANGELOG.md
  docs-platform/package.json
Due: none

fix(ci): typedoc in the toolchain group, PR limits that were hiding work, and three TTL tests that raced themselves (#315)
  .github/dependabot.yml
  CHANGELOG.md
  internal/cache/lru_test.go
  internal/cache/persistent_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs(ci): record why an armed auto-merge PR stalls at BEHIND
  .github/workflows/dependabot-automerge.yml
Due: none

fix(security): force vite 6 and uuid 11 through overrides, not a version bump (#318)
  CHANGELOG.md
  docs-platform/package.json
Due: none

docs(ci): record why an armed auto-merge PR stalls at BEHIND (#324)
  .github/workflows/dependabot-automerge.yml
Due: none

fix(sdk): make the JavaScript SDK compile, and stop it fabricating results
  .github/workflows/ci.yml
  CHANGELOG.md
  sdks/javascript/README.md
  sdks/javascript/package-lock.json
  sdks/javascript/package.json
  sdks/javascript/src/client.ts
  sdks/javascript/src/config.test.ts
  sdks/javascript/src/config.ts
  sdks/javascript/src/errors.ts
  sdks/javascript/src/index.ts
  sdks/javascript/src/monitoring.ts
  sdks/javascript/src/mount.ts
  sdks/javascript/src/prometheus.test.ts
  sdks/javascript/src/prometheus.ts
  sdks/javascript/src/storage.test.ts
  sdks/javascript/src/storage.ts
  sdks/javascript/src/types.ts
Due: none

fix(sdks/python): the operations that fabricated data now raise
  .github/workflows/ci.yml
  CHANGELOG.md
  sdks/python/README.md
  sdks/python/objectfs/__init__.py
  sdks/python/objectfs/cli.py
  sdks/python/objectfs/client.py
  sdks/python/objectfs/config.py
  sdks/python/objectfs/storage.py
  sdks/python/tests/test_client.py
  sdks/python/tests/test_config.py
  sdks/python/tests/test_storage.py
Due: none

fix(sdks/javascript): export the error the client throws, and the right license
  CHANGELOG.md
  sdks/javascript/src/index.test.ts
  sdks/javascript/src/index.ts
Due: none

fix(sdks/java): the Java SDK compiles, and its tests run
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  sdks/java/pom.xml
  sdks/java/src/main/java/com/objectfs/sdk/ObjectFSClient.java
  sdks/java/src/test/java/com/objectfs/sdk/ObjectFSClientTest.java
Due: none

fix(sdks/c): the fourth SDK, where nothing had ever linked against the header
  .github/workflows/ci.yml
  CHANGELOG.md
  sdks/c/main.go
  sdks/c/main_test.go
  sdks/c/objectfs_types.h
  sdks/c/tests/test_basic.c
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

docs(dependabot): correct two claims this PR made false, and record the TS6 recipe
  .github/dependabot.yml
Due: none

docs(changelog): record the dependabot comment correction
  CHANGELOG.md
Due: none

fix(docs): the documentation site builds, and a job that notices when it stops
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CHANGELOG.md
  docs-platform/.vitepress/theme/index.js
  docs-platform/README.md
  docs-platform/guide/getting-started.md
  docs-platform/index.md
  docs-platform/playground/index.md
Due: none

deps(js): take eslint 10 by moving the config where eslint 10 reads it
  CHANGELOG.md
  sdks/javascript/eslint.config.js
  sdks/javascript/package-lock.json
  sdks/javascript/package.json
  sdks/javascript/src/client.ts
  sdks/javascript/src/index.test.ts
  sdks/javascript/src/monitoring.ts
  sdks/javascript/src/mount.ts
  sdks/javascript/src/types.ts
Due: none

deps(docs): drop three markdown-it packages the site never used
  CHANGELOG.md
  docs-platform/.vitepress/config.js
  docs-platform/package.json
Due: none

fix(changelog): quote the LICENSE link as prose, not as a link
  CHANGELOG.md
Due: none

deps(java): bump okhttp 4.12.0 -> 5.4.0, and move to the artifact that has the classes
  CHANGELOG.md
  sdks/java/pom.xml
Due: none

fix(docs): the documentation site builds, and a job that notices when it stops (#334)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CHANGELOG.md
  docs-platform/.vitepress/config.js
  docs-platform/.vitepress/theme/index.js
  docs-platform/README.md
  docs-platform/guide/getting-started.md
  docs-platform/index.md
  docs-platform/package.json
  docs-platform/playground/index.md
Due: none

deps(java): bump okhttp 4.12.0 -> 5.4.0, and move to the artifact that has the classes (#333)
  CHANGELOG.md
  sdks/java/pom.xml
Due: none

fix(docs-platform): commit the lockfile, so the tree is reproducible and auditable
  .github/dependabot.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  docs-platform/package-lock.json
Due: none

deps(js): take eslint 10 by moving the config where eslint 10 reads it (#335)
  CHANGELOG.md
  sdks/javascript/eslint.config.js
  sdks/javascript/package-lock.json
  sdks/javascript/package.json
  sdks/javascript/src/client.ts
  sdks/javascript/src/index.test.ts
  sdks/javascript/src/monitoring.ts
  sdks/javascript/src/mount.ts
  sdks/javascript/src/types.ts
Due: none

deps(js): take TypeScript 6, and the TS5107 that hides 64 errors behind 1
  .gitignore
  CHANGELOG.md
  internal/config/docs_test.go
  sdks/javascript/package-lock.json
  sdks/javascript/package.json
  sdks/javascript/tsconfig.json
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(test): CommandContext and SplitSeq in markdownFiles
  internal/config/docs_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(docs-platform): commit the lockfile, so the tree is reproducible and auditable (#337)
  .github/dependabot.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  docs-platform/package-lock.json
Due: none

deps(js): take TypeScript 6, and the TS5107 that hides 64 errors behind 1 (#338)
  .gitignore
  CHANGELOG.md
  internal/config/docs_test.go
  sdks/javascript/package-lock.json
  sdks/javascript/package.json
  sdks/javascript/tsconfig.json
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test(ci): fail when a package.json and its lockfile disagree
  CHANGELOG.md
  internal/config/docs_test.go
  internal/config/lockfile_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

test(ci): fail when a package.json and its lockfile disagree (#345)
  CHANGELOG.md
  internal/config/docs_test.go
  internal/config/lockfile_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(sdks/python): pin the CI tree, and make the SDK visible to a scanner
  .github/dependabot.yml
  .github/labels.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  sdks/python/README.md
  sdks/python/requirements.txt
  sdks/python/setup.py
Due: none

fix(sdks/python): pin the CI tree, and make the SDK visible to a scanner (#347)
  .github/dependabot.yml
  .github/labels.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  sdks/python/README.md
  sdks/python/requirements.txt
  sdks/python/setup.py
Due: none

fix(ci): fuzz-smoke fails on crashers, not on go's shutdown race
  .github/scripts/fuzz-smoke.sh
  .github/workflows/ci.yml
  CHANGELOG.md
  internal/config/fuzz_smoke_script_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix(ci): fuzz-smoke fails on crashers, not on go's shutdown race (#350)
  .github/scripts/fuzz-smoke.sh
  .github/workflows/ci.yml
  CHANGELOG.md
  internal/config/fuzz_smoke_script_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: compile every build tag, so a tagged file cannot rot unobserved
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  README.md
  docs/design/conditional-writes-vs-raft.md
  internal/config/build_tags_test.go
  pkg/optimization/interfaces.go
  test/benchmarks/cache_test.go
  tests/aws_s3_test.go
  tests/integration/localstack_test.go
  tests/integration/mocks.go
  tests/posix_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check

fix: compile every build tag, so a tagged file cannot rot unobserved (#351)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  README.md
  docs/design/conditional-writes-vs-raft.md
  internal/config/build_tags_test.go
  pkg/optimization/interfaces.go
  test/benchmarks/cache_test.go
  tests/aws_s3_test.go
  tests/integration/localstack_test.go
  tests/integration/mocks.go
  tests/posix_test.go
Due: go-build-check, golangci-lint-check, integration-ready-check, license-check
